---
import MainLayout from "~/layouts/layout-main.astro";
import GenerateKeys from "~/components/generate-keys.tsx";
---

<MainLayout>
	<main class="container space-y-8 my-12">
		<GenerateKeys client:load />
	</main>
</MainLayout>
