<footer class="container h-12 flex items-center justify-center">
  <p class="text-center text-xs text-muted-foreground">
    Built with ❤️ using Astro. View the source on
    <a
      href="https://github.com/chof64/jwks"
      target="_blank"
      class="underline hover:text-primary underline-offset-2 transition delay-150"
      >GitHub</a
    >.
  </p>
</footer>
